//Global elements
html
	box-sizing: border-box
*,
*::after,
*::before
	box-sizing: inherit
body
	font-family: $mainFont
	font-size: 14px



//Global classes
.wrapper
	width: 1590px
	margin: 0 auto 0 auto
.head
	margin: 0
	text-transform: uppercase
	&--lg
		font-size: 90px
	&--lightgray
		color: $lightGray
.btn
	display: inline-block
	min-width: 315px
	width: auto
	min-height: 70px
	height: auto
	padding: 20px 40px 20px 25px
	text-transform: uppercase
	text-align: center
	border-radius: 50px
	background-color: $purple
	box-shadow: 0 5px 10px black
	transition: all .3s ease-in-out
	text-decoration: none
	color: white
	cursor: pointer
	&__icon
		display: inline-block
		vertical-align: middle
		font-size: 40px
		margin: 0 20px 0 0
	&__text
		display: inline-block
		vertical-align: middle
		text-align: left
	&:hover
		box-shadow: 0 1px 5px black
//Social links
.social-links
	display: flex
	flex-direction: row
	justify-content: space-around
	align-items: center
	&__unit
		margin: 0 40px 0 0
		font-size: 24px
		color: white
		text-decoration: none
		&:last-child
			margin: 0
//Grid
.grid
	display: flex
	flex-direction: row
	align-items: center
	flex-wrap: wrap
	width: 100%
	&__unit
		&--50
			width: 50%