.hero
	height: 900px
	padding-top: 60px
	background-color: $mainColor
	color: white
.header
	display: flex
	align-content: center
	align-items: center
	justify-content: space-between
.header__logo
.header__slogan
	text-transform: uppercase
.hero__maintext
	border: 2px solid green
.maintext
	margin-top: 300px
	letter-spacing: 2px
	font-size: 90px
	font-weight: bolder
.maintext__top
	text-align: left
.maintext__bottom
	text-align: right
.maintext__sub-text
	display: flex
	justify-content: flex-end
	font-weight: 100
	font-size: 14px
	background-color: orangerer
.maintext__sub-text span
	display: inline-block
	margin-left: 60px
.hero__btn-block