@media screen and (max-width: $break-lg)
	.wrapper
		width: 990px
		overflow: hidden
	.head--lg
		font-size: 80px
	.maintext
		font-size: 60px
		&__top
			font-size: 60px
		&__prlx-line
			height: 220px
	.paralax-section
		min-height: initial
		overflow: hidden
		.head
			margin-bottom: 60px
		&__line
			padding: 50px 0 30px 0
		&__img
			margin-left: -10%
			img
				width: 70%
	.prlx-footballer
		&__prlx-line
			left: 25%
			height: 500px
	.prlx-basketballer
		margin-right: -30%
	.grid
		&__unit
			&--50
				width: 100%
	.steps
		&__text
			width: 90%
			margin-top: 50px
			font-size: 20px
			&:after
				margin-top: 50px
		&__num
			top: 58%
			right: initial
			left: 30px
			width: 130px
			height: 120px
			&:after
				margin-top: 5px
		&__info
			order: 1
			padding: 80px 50px

@media screen and (max-width: $break-md)
	.wrapper
		width: 760px
	.maintext
		.wrapper
			width: 500px
		&__bottom
			text-align: left
		&__sub-text
			justify-content: space-around
			margin-top: 50px
		&__sub-text-el
			margin-left: 0
	.paralax-section
		&__line
			padding: 50px 0 30px 30px
	.prlx-basketballer
		margin-right: -60%
	.download-app
		.wrapper
			flex-direction: column
		&__text-wrapper
			margin-top: 30px
		&__text
			flex-direction: column
		&__main-text
			font-size: 75px
			text-align: center
		&__text-prlx-line1
			margin-top: 0
		&__text-prlx-line2
			right: 35%
			margin-top: -100px
	.footer
		justify-content: center
		&__unit
			&:first-child
				display: none
			&:last-child
				display: none
	.social-links
		&__unit
			font-size: 30px